In [14]:
import pandas as pd
import numpy as np
import csv

In [ ]:
#Realizado por Katalina Morales Dueñas

In [15]:
df = pd.read_csv(
    '/content/student-mat.csv',
    sep = ";")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [16]:
# PUNTO 1. Valores vacios o nulos 
# No hay valores vacios o nulos en la base de datos
df.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [17]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [25]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [34]:
#PUNTO 2 Numero de estudiantes que viven en zona urbana es igual a 307
(df.iloc[:,[3]] == "U").sum()

address    307
dtype: int64

In [35]:
# Número de estudiantes que viven en zona rural es igual a 88
(df.iloc[:,[3]] == "R").sum()

address    88
dtype: int64

In [58]:
# Cuántos de los estudiantes rurales son mujeres
df_1 = df[df['address'] == "R"]

In [60]:
sum(df_1["sex"] == "F") #Hay 44 mujeres

44

In [91]:
#PUNTO 3 Estudiantes rurales que tienen menos de 5 fallas son los 49 y el numero de mujeres es igual a 24
sum(df_1['absences'] < 5)

49

In [93]:
df_m = df_1[df_1['absences'] < 5]

In [98]:
sum(df_m['sex'] == "F")

24

In [90]:
#PUNTO 4 media de notas de matematicas
#GP = No tienen internet = 10.538462	
#GP = Si tienen internet = 11.010101
#MS = No tienen internet = 9.785714
#MS = Si tienen internet = 	11.062500

df.groupby(['school', 'internet']).mean()

                       age      Medu      Fedu  traveltime  studytime  \
school internet
GP     no        16.673077  2.365385  2.269231    1.576923   1.923077
       yes       16.494949  2.878788  2.602694    1.353535   2.087542
MS     no        18.285714  1.857143  2.000000    1.785714   1.928571
       yes       17.906250  2.562500  2.406250    1.968750   1.781250

                 failures    famrel  freetime     goout      Dalc      Walc  \
school internet
GP     no        0.346154  3.942308  3.115385  2.923077  1.326923  2.173077
       yes       0.313131  3.962963  3.242424  3.144781  1.464646  2.276094
MS     no        0.785714  3.642857  3.142857  2.928571  1.714286  2.571429
       yes       0.312500  3.906250  3.406250  3.156250  1.781250  2.500000

                   health  absences         G1         G2         G3
school internet
GP     no        3.750000  3.980769  10.538462   9.903846   9.673077
       yes       3.545455  6.313131  11.010101  10.936027  10.632997
MS     no        4.000000  3.571429   9.785714   9.000000   8.428571
       yes       3.125000  3.843750  11.062500  10.718750  10.468750

In [117]:
# PUNTO 5 
new_df= df.assign( Calificacion_total = (df["G1"]* 0.35 + df["G2"]* 0.35 + df["G3"]* 0.30))

In [118]:
new_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Calificacion_total
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,5.65
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,5.30
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,8.25
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,14.65
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,8.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,9.00
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,15.30
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,8.40
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,11,12,10,11.05
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,8.65

In [107]:
new_df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Calificacion_total
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190,10.692532
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443,3.662308
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000,1.400000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000,8.350000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000,10.700000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000,13.325000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000,19.300000

In [ ]:
#La media de la calificacion total fue igual a : 10.692532
#La mediana de la calificacion total fue igual a: 10.700000
#Valor minimo: 1.400000
#Valor maximo: 19.300000

In [ ]:
#PUNTO 6
# Se podria realizar un análisis de regresión o clasificación. Yo elegiría regresión ya que la variable respuesta a predecir que mayor tiene relevancia es la calificacion escolar. Se podria predecir el promedio de ellas tres o elegir solamente una 
# de estas tres notas (G1, G2 o G3). Para determinar que variables podrian servir la correlación de pearson no es de gran ayuda ya que la mayoria de variables son binarias o numéricas pero en escala lo cual significa que se debe convertir en factor.
# Algunas que podrian llegar a influenciar de acuerdo a los promedios encontrados son la zona donde se encuentra el estudiante (Rural o urbano), si tiene internet o no, las actividades extraescolares, clases extrapagadas, tiempo de estudio, la escuela
# a la que pertenece y los estudios de la madre o el padre.

In [109]:
corr_df = new_df.corr()
print("Matriz de correlación:")
print(corr_df, "\n")

Matriz de correlación:
                         age      Medu      Fedu  traveltime  studytime  \
age                 1.000000 -0.163658 -0.163438    0.070641  -0.004140
Medu               -0.163658  1.000000  0.623455   -0.171639   0.064944
Fedu               -0.163438  0.623455  1.000000   -0.158194  -0.009175
traveltime          0.070641 -0.171639 -0.158194    1.000000  -0.100909
studytime          -0.004140  0.064944 -0.009175   -0.100909   1.000000
failures            0.243665 -0.236680 -0.250408    0.092239  -0.173563
famrel              0.053940 -0.003914 -0.001370   -0.016808   0.039731
freetime            0.016434  0.030891 -0.012846   -0.017025  -0.143198
goout               0.126964  0.064094  0.043105    0.028540  -0.063904
Dalc                0.131125  0.019834  0.002386    0.138325  -0.196019
Walc                0.117276 -0.047123 -0.012631    0.134116  -0.253785
health             -0.062187 -0.046878  0.014742    0.007501  -0.075616
absences            0.175230  0.100285  0.024473   -0.012944  -0.062700
G1                 -0.064081  0.205341  0.190270   -0.093040   0.160612
G2                 -0.143474  0.215527  0.164893   -0.153198   0.135880
G3                 -0.161579  0.217147  0.152457   -0.117142   0.097820
Calificacion_total -0.132543  0.224107  0.176847   -0.128547   0.136505

                    failures    famrel  freetime     goout      Dalc  \
age                 0.243665  0.053940  0.016434  0.126964  0.131125
Medu               -0.236680 -0.003914  0.030891  0.064094  0.019834
Fedu               -0.250408 -0.001370 -0.012846  0.043105  0.002386
traveltime          0.092239 -0.016808 -0.017025  0.028540  0.138325
studytime          -0.173563  0.039731 -0.143198 -0.063904 -0.196019
failures            1.000000 -0.044337  0.091987  0.124561  0.136047
famrel             -0.044337  1.000000  0.150701  0.064568 -0.077594
freetime            0.091987  0.150701  1.000000  0.285019  0.209001
goout               0.124561  0.064568  0.285019  1.000000  0.266994
Dalc                0.136047 -0.077594  0.209001  0.266994  1.000000
Walc                0.141962 -0.113397  0.147822  0.420386  0.647544
health              0.065827  0.094056  0.075733 -0.009577  0.077180
absences            0.063726 -0.044354 -0.058078  0.044302  0.111908
G1                 -0.354718  0.022168  0.012613 -0.149104 -0.094159
G2                 -0.355896 -0.018281 -0.013777 -0.162250 -0.064120
G3                 -0.360415  0.051363  0.011307 -0.132791 -0.054660
Calificacion_total -0.375718  0.019736  0.003292 -0.155458 -0.073431

                        Walc    health  absences        G1        G2  \
age                 0.117276 -0.062187  0.175230 -0.064081 -0.143474
Medu               -0.047123 -0.046878  0.100285  0.205341  0.215527
Fedu               -0.012631  0.014742  0.024473  0.190270  0.164893
traveltime          0.134116  0.007501 -0.012944 -0.093040 -0.153198
studytime          -0.253785 -0.075616 -0.062700  0.160612  0.135880
failures            0.141962  0.065827  0.063726 -0.354718 -0.355896
famrel             -0.113397  0.094056 -0.044354  0.022168 -0.018281
freetime            0.147822  0.075733 -0.058078  0.012613 -0.013777
goout               0.420386 -0.009577  0.044302 -0.149104 -0.162250
Dalc                0.647544  0.077180  0.111908 -0.094159 -0.064120
Walc                1.000000  0.092476  0.136291 -0.126179 -0.084927
health              0.092476  1.000000 -0.029937 -0.073172 -0.097720
absences            0.136291 -0.029937  1.000000 -0.031003 -0.031777
G1                 -0.126179 -0.073172 -0.031003  1.000000  0.852118
G2                 -0.084927 -0.097720 -0.031777  0.852118  1.000000
G3                 -0.051939 -0.061335  0.034247  0.801468  0.904868
Calificacion_total -0.090047 -0.081358 -0.008405  0.924313  0.969369

                          G3  Calificacion_total
age                -0.161579           -0.132543
Medu                0.217147            0.224107
Fedu                0.152457            0.176847
traveltime         -0.117142           -0.128547
studytime           0.097820            0.136505
failures           -0.360415           -0.375718
famrel              0.051363            0.019736
freetime            0.011307            0.003292
goout              -0.132791           -0.155458
Dalc               -0.054660           -0.073431
Walc               -0.051939           -0.090047
health             -0.061335           -0.081358
absences            0.034247           -0.008405
G1                  0.801468            0.924313
G2                  0.904868            0.969369
G3                  1.000000            0.954806
Calificacion_total  0.954806            1.000000

In [ ]:
# Se pueden agrupar y mirar los promedios y con una prueba de medias identificar si hay diferencias significativas. Como por ejemplo:

In [110]:
df.groupby(['internet']).mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
internet,,,,,,,,,,,,,,,,
no,17.015152,2.257576,2.212121,1.621212,1.924242,0.439394,3.878788,3.121212,2.924242,1.409091,2.257576,3.803030,3.893939,10.378788,9.712121,9.409091
yes,16.632219,2.848024,2.583587,1.413374,2.057751,0.313070,3.957447,3.258359,3.145897,1.495441,2.297872,3.504559,6.072948,11.015198,10.914894,10.617021

In [112]:
!pip install pingouin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pingouin
  Downloading pingouin-0.5.2.tar.gz (185 kB)
     |████████████████████████████████| 185 kB 27.1 MB/s
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.21.6)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.7.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.3.5)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: seaborn>=0.11 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.11.2)
Collecting statsmodels>=0.13
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 72.3 MB/s
Requirement already satisfied: scikit-learn<1.1.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.0.2)
Collecting pandas_flavor>=0.2.0
  Downloading pandas_flavor-0.3.0-py3-none-any.whl (6.3 kB)
Collecting outdated
  Downloading outdated-0.2.1-py3-none-any.whl (7.5 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.8.10)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.2->pingouin) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pingouin) (2022.2.1)
Collecting pandas_flavor>=0.2.0
  Downloading pandas_flavor-0.2.0-py2.py3-none-any.whl (6.6 kB)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from pandas_flavor>=0.2.0->pingouin) (0.20.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1.0->pingouin) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1.0->pingouin) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13->pingouin) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13->pingouin) (0.5.2)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2022.6.15)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from xarray->pandas_flavor>=0.2.0->pingouin) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->xarray->pandas_flavor>=0.2.0->pingouin) (3.8.1)
Building wheels for collected packages: pingouin, littleutils
  Building wheel for pingouin (setup.py) ... done
  Created wheel for pingouin: filename=pingouin-0.5.2-py3-none-any.whl size=196206 sha256=c6ab5722382831460e7554581e1f1f5ac9c23bc6f6d33e3c88fdb18bf4782785
  Stored in directory: /root/.cache/pip/wheels/11/5a/63/a6d32fc26fa462c731f65480bfb98ff7bd39b8ebcb4bc6c2fe
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7048 sha256=7d8923ddbad53da12e2d02091591fc4fcd8ca486f998ffc4d6833819d7c13f71
  Stored in directory: /root/.cache/pip/wheels/d6/64/cd/32819b511a488e4993f2fab909a95330289c3f4e0f6ef4676d
Successfully built pingouin littleutils
Installing collected packages: littleutils, statsmodels, pandas-flavor, outdated, pingouin
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.12.2
    Uninstalling statsmodels-0.12.2:
      Successfully uninstalled statsmodels-0.12.2
Successfully installed littleutils-0.2.2 outdated-0.2.1 pandas-flavor-0.2.0 pingouin-0.5.2 statsmodels-0.13.2

In [113]:
import pingouin as pg

In [114]:
#Hipótesis contrastadas

#Las hipótesis contrastadas por el test de Levene son:

#H0 : Presencia de homocedasticidad (varianzas iguales)

#Ha : Presencia de heterocedasticidad (varianzas diferentes)

pg.homoscedasticity(data= new_df, dv='Calificacion_total', group='internet')

               W      pval  equal_var
levene  0.378939  0.538528       True

In [ ]:
#Hipótesis contrastadas

#Las hipótesis contrastadas por el t-test son:

#H0 : No hay diferencias entre las medias: μx=μy

#Ha : Sí hay diferencias entre las medias: μx≠μy

In [120]:
new_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Calificacion_total
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,5.65
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,5.30
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,8.25
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,14.65
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,8.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,9.00
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,15.30
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,8.40
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,11,12,10,11.05
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,8.65

In [119]:
inter_si = df.loc[new_df.internet == "yes", 'Calificacion_total'] #Creo que me toca convertirlo en 1 y 0 para que lo tome :( 
inter_no = df.loc[new_df.internet == "no", 'Calificacion_total']

KeyError: ignored